/**
 * Objects > Wrapper
 * - TODO: Define custom linting pattern for objects
 *
 * @define o-Wrapper
 *
 */

.o-Wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--baseMaxWidth);
  padding-left: var(--baseSpace);
  padding-right: var(--baseSpace);
}

@media (--lg) {

  .o-Wrapper {
    padding-left: calc(var(--baseSpace) * 2);
    padding-right: calc(var(--baseSpace) * 2);
  }
}
