/**
 * Utilities > Position
 *
 * @define utilities
 *
 */

.u-absolute { position: absolute; }
.u-fixed    { position: fixed; }
.u-relative { position: relative; }

.u-top0     { top: 0; }
.u-right0   { right: 0; }
.u-bottom0  { bottom: 0; }
.u-left0    { left: 0; }

.u-absoluteEdge {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* Medium breakpoint
  =========================================================================== */

@media (--md) {
  .u-absolute\@md { position: absolute; }
  .u-fixed\@md    { position: fixed; }
  .u-relative\@md { position: relative; }

  .u-top0\@md     { top: 0; }
  .u-right0\@md   { right: 0; }
  .u-bottom0\@md  { bottom: 0; }
  .u-left0\@md    { left: 0; }

  .u-absoluteEdge\@md {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* Large breakpoint
  =========================================================================== */

@media (--lg) {
  .u-absolute\@lg { position: absolute; }
  .u-fixed\@lg    { position: fixed; }
  .u-relative\@lg { position: relative; }

  .u-top0\@lg     { top: 0; }
  .u-right0\@lg   { right: 0; }
  .u-bottom0\@lg  { bottom: 0; }
  .u-left0\@lg    { left: 0; }

  .u-absoluteEdge\@lg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
