/**
 * Utilities > Width
 *
 * @define utilities
 *
 */

.u-width1\/12  { width: 8.33333333333%; }
.u-width2\/12  { width: 16.6666666667%; }
.u-width1\/5   { width: 20%; }

.u-width1\/4,
.u-width3\/12  { width: 25%; }

.u-width1\/3,
.u-width4\/12  { width: 33.3333333333%; }

.u-width2\/5   { width: 40%; }
.u-width5\/12  { width: 41.6666666667%; }

.u-width1\/2,
.u-width2\/4,
.u-width6\/12  { width: 50%; }

.u-width3\/5   { width: 60%; }
.u-width7\/12  { width: 58.3333333333%; }

.u-width2\/3,
.u-width8\/12  { width: 66.6666666667%; }

.u-width3\/4,
.u-width9\/12  { width: 75%; }

.u-width4\/5   { width: 80%; }
.u-width10\/12 { width: 83.3333333333%; }
.u-width11\/12 { width: 91.6666666667%; }

.u-width1\/1   { width: 100%; }

.u-widthFull {
  box-sizing: border-box !important;
  display: block;
  width: 100%;
}

/* Medium breakpoint
  =========================================================================== */

@media (--md) {
  .u-width1\/12\@md  { width: 8.33333333333%; }
  .u-width2\/12\@md  { width: 16.6666666667%; }
  .u-width1\/5\@md   { width: 20%; }

  .u-width1\/4\@md,
  .u-width3\/12\@md  { width: 25%; }

  .u-width1\/3\@md,
  .u-width4\/12\@md  { width: 33.3333333333%; }

  .u-width2\/5\@md   { width: 40%; }
  .u-width5\/12\@md  { width: 41.6666666667%; }

  .u-width1\/2\@md,
  .u-width2\/4\@md,
  .u-width6\/12\@md  { width: 50%; }

  .u-width3\/5\@md   { width: 60%; }
  .u-width7\/12\@md  { width: 58.3333333333%; }

  .u-width2\/3\@md,
  .u-width8\/12\@md  { width: 66.6666666667%; }

  .u-width3\/4\@md,
  .u-width9\/12\@md  { width: 75%; }

  .u-width4\/5\@md   { width: 80%; }
  .u-width10\/12\@md { width: 83.3333333333%; }
  .u-width11\/12\@md { width: 91.6666666667%; }

  .u-width1\/1\@md   { width: 100%; }

  .u-widthFull\@md {
    box-sizing: border-box !important;
    display: block;
    width: 100%;
  }
}

/* Large breakpoint
  =========================================================================== */

@media (--lg) {
  .u-width1\/12\@lg  { width: 8.33333333333%; }
  .u-width2\/12\@lg  { width: 16.6666666667%; }
  .u-width1\/5\@lg   { width: 20%; }

  .u-width1\/4\@lg,
  .u-width3\/12\@lg  { width: 25%; }

  .u-width1\/3\@lg,
  .u-width4\/12\@lg  { width: 33.3333333333%; }

  .u-width2\/5\@lg   { width: 40%; }
  .u-width5\/12\@lg  { width: 41.6666666667%; }

  .u-width1\/2\@lg,
  .u-width2\/4\@lg,
  .u-width6\/12\@lg  { width: 50%; }

  .u-width3\/5\@lg   { width: 60%; }
  .u-width7\/12\@lg  { width: 58.3333333333%; }

  .u-width2\/3\@lg,
  .u-width8\/12\@lg  { width: 66.6666666667%; }

  .u-width3\/4\@lg,
  .u-width9\/12\@lg  { width: 75%; }

  .u-width4\/5\@lg   { width: 80%; }
  .u-width10\/12\@lg { width: 83.3333333333%; }
  .u-width11\/12\@lg { width: 91.6666666667%; }

  .u-width1\/1\@lg   { width: 100%; }

  .u-widthFull\@lg {
    box-sizing: border-box !important;
    display: block;
    width: 100%;
  }
}
