/**
 * Usonian CSS > Settings > Global
 */

:root {
  --borderRadius: 6px;
  --borderRadiusLarge: 12px;
  --borderRadiusSmall: 3px;

  --fontWeightLight: 200;
  --fontWeightMedium: 400;
  --fontWeightHeavy: 500;

  --fontSizeBase: 1rem;
  --fontSizeLarge: 1.25rem;
  --fontSizeLarger: 1.563rem;
  --fontSizeLargest: 3.815rem;
  --fontSizeSmall: 0.8rem;
  --fontSizeSmaller: 0.64rem;

  --transitionSpeed: 300ms;
  --transitionSpeedFast: 200ms;
  --transitionSpeedSlow: 500ms;

  /* Base settings */
  --baseFontFamily: system, -apple-system, BlinkMacSystemFont, sans-serif;
  --baseFontSize: 16px;
  --baseLineHeight: 1.5;

  --baseSpace: 1rem;

  --baseMaxWidth: 1280px;
}

@custom-media --md (min-width: 700px);
@custom-media --lg (min-width: 1100px);
