/**
 * Usonian CSS > Settings > Color
 */

:root {

  /* Brand colors */

  --colorBrandGreen: #63e7ca;

  /* Neutrals */

  --colorGrayDark: #1a1a1a;
  --colorGray: #333;
  --colorGrayLight: #666;
  --colorGrayLighter: #999;
  --colorGrayLightest: #e5e5e5;

  /* Base colors */

  --baseColorAccent: var(--colorBrandGreen);
  --baseColorText: var(--colorGray);
  --baseColorWhite: #f5f5f5;
}
