/**
 * Elements > Page
 */

html {
  background-color: var(--baseColorWhite);
  color: var(--baseColorText);
  font-family: var(--baseFontFamily);
  font-size: var(--baseFontSize);
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: var(--baseLineHeight);
  min-height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  position: relative;
}

@media (--lg) {

  /* Increase base font-size at larger viewports */

  html {
    font-size: calc(var(--baseFontSize) * 1.125);
  }
}
