/**
 * Elements > Form
 */

input,
select,
textarea,
fieldset {
  border: none;
  border-radius: var(--borderRadius);
  box-sizing: border-box;
  color: var(--colorGray);
  font-family: var(--baseFontFamily);
  font-size: 1rem;
  outline: 0;
  padding: calc(var(--baseSpace) / 2);
}

input:focus,
select:focus,
textarea:focus,
fieldset:focus {
  box-shadow: inset 0 0 0 1px var(--baseColorAccent);
}

input[type=text],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  -webkit-appearance: none;
  vertical-align: middle;
}

select:not([multiple]) {
  vertical-align: middle;
}

textarea {
  padding: calc(var(--baseSpace) / 2);
}

button {
  border: none;
  border-radius: var(--borderRadius);
  outline: none;
  padding: 0;
}
